/* CSS by Zachary Fraedrich */

/* Imported Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wdth,wght@0,18..144,87..112,300..900;1,18..144,87..112,300..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ///ADD/// CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Root Variables */
:root {
  --blue-bulletin: #1D3557;
  --news-flash: #E63946;
  --watchdog-white: #F1FAEE;
  --truth-text: #333;
  --story-subtitle: #457B9D;
  --font-body: "Source Sans 3", sans-serif;
  --font-heading: 'Merriweather', serif;
  --shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  --transition: all 0.5s ease;
}

/* Manual Light/Dark Mode Styles*/
body.light-mode {
  background-color: var(--watchdog-white);
  color: var(--truth-text);
}
body.dark-mode {
  background-color: var(--truth-text);
  color: var(--watchdog-white);
}
#theme-toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background-color: var(--watchdog-white);
  border: 1px solid var(--blue-bulletin);
  border-radius: 1.5rem;
  cursor: pointer;
}

/* ///ADD/// Skip Link Styles */
.skip-link {
  position: absolute;
	left: -10000px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.skip-link:focus{
  transform: translateY(0%);
}

/* ///ADD/// Navigation Styles */
.mobile-nav {
  position: relative;
}
nav h2 {
  display: none;
}

/* Menu button */
.menu-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--news-flash);
  color: white;
  cursor: pointer;
  font-weight: bold;
  border-radius: 0.25rem;
  margin-top: 1rem;
  z-index: 10000;
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 0.25rem;
}

.menu-button:hover,
.mobile-nav .menu li a:hover {
  background-color: var(--blue-bulletin);
  border: 2px solid var(--news-flash);
}

/* Dropdown Menu */
.mobile-nav .menu {
  max-height: 0;
  overflow: hidden;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  border-radius: 0 0 0.5rem 0.5rem;
}
#menu-toggle:checked + .menu-button + .menu {
  max-height: 300px;
}
.mobile-nav .menu li a {
  display: block;
  padding: 0.75rem 1rem;
  color: white;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background-color: var(--news-flash);
  text-align: center;
  font-weight: bold;
}

/* ///ADD/// Global Layout Styles */
body{
  height: 100vh;
  font-family: var(--font-body);
}

main {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1.25rem;
}

header, footer {
  background-color: var(--blue-bulletin);
}
.header-content, .social {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1rem;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  font-weight: normal;
  margin 1rem 0;
}

ul {
  list-style: none;
}

article{
  padding: 1rem;
  color: white;
  margin: 0 0.25rem;
  transition: transform 0.3s ease
}
article:hover{
  transform: scale(1.05);
  cursor: pointer;
}

/* ///ADD/// Global Text Styles */


/* ///ADD/// medium styles 620px */


/* ///ADD/// large styles 920px */


/* ///ADD/// x-large styles 1024px */


/* ///ADD/// Interaction Queries for color scheme light and dark and motion preference */


/* ///ADD///  Feature Query for :has() that checks if the #menu-toggle is checked */
@supports (selector(:has(*))) {
  #menu-toggle:checked ~ .menu {
    display: block;
  }
}